<section class="managment">
  <div class="container">
    <div class="managment-text-wrap">
      <h2 class="managment-title">
        Effortless Validation for
        <span class="managment-title-part">Management</span>
      </h2>
      <p class="managment-text">
        The Myspace page defines the individual, his or her characteristics,
        traits, personal choices and the overall personality of the person.
      </p>
      <ul class="managment-list">
        <li>
          <h3 class="managment-subtitle">Accessory makers</h3>
          <p class="managment-desc">
            While most people enjoy casino gambling, sports betting, lottery and
            bingo playing for the fun
          </p>
        </li>
        <li>
          <h3 class="managment-subtitle">Alterationists</h3>
          <p class="managment-desc">
            If you are looking for a new way to promote your business that won’t
            cost you more money,
          </p>
        </li>
      </ul>
    </div>
    <img src="./images/management-img.png" alt="document" width="540" />
  </div>
</section>
