.header .container {
    display: flex;
    align-items: center;
}

.nav {
    display: flex;
}

.logo {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-right: 237px;
    font-weight: 700;
    font-size: 30px;
    line-height: 0.93333;
    color: #173a56;
}

.nav-list {
    display: flex;
    gap: 30px;
}

.nav-link {
    line-height: 1.75;
    padding: 26px 0;
    display: block;
}

.current {
    font-weight: 600;
}

.header-list-btn {
    display: flex;
    gap: 21px;
    margin-left: auto;
}

.header-btn {
    height: 42px;
    border-radius: 4px;
    font-weight: 600;
}

.header-btn-in {
    min-width: 105px;
    border: 1px solid #bcd0e5;
    background-color: transparent;
    color: #173a56;
}

.header-btn-up {
    min-width: 113px;
    border: none;
    background-color: #02897a;
    color: #fff;
}